---
export interface Props {
  heading: string;
  subheading: string;
  category: string;
  items: {
    title: string;
    shortDescription: string;
    
    image: string;
    alt: string;
    slug: string;
  }[];
}

const { heading, subheading, items, category } = Astro.props;
---

<section class="py-16 px-4 container mx-auto space-y-16">
  <div class="space-y-2 col-span-6">
    <h1 class="text-4xl lg:text-5xl font-bold text-gray-900 lg:mb-0 mb-4">
      {heading}
    </h1>
    <p class="text-gray-600 lg:max-w-lg">
      {subheading}
    </p>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
    {
      items.map((item) => (
        <div class="flex flex-col sm:flex-row gap-4 group">
          <img
            src={item.image}
            alt={item.alt}
            class="h-64 aspect-square rounded-xl object-cover"
          />
          <div class="space-y-4 py-4">
            <h3 class="text-3xl lg:leading-tight font-semibold">
              {item.title}
            </h3>
            <p class="text-gray-600 text-sm">{item.shortDescription}</p>
           
            <a
              href={`/${category}/${item.slug}`}
              class="flex items-center justify-center font-medium group space-x-2 w-fit hover:underline [&_svg]:hover:-rotate-45"
            >
              <span>Learn More</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                class="w-4 h-4 invisible group-hover:visible transition-all duration-100"
                fill="currentColor"
                viewBox="0 0 256 256"
              >
                <path d="M221.66,133.66l-72,72a8,8,0,0,1-11.32-11.32L196.69,136H40a8,8,0,0,1,0-16H196.69L138.34,61.66a8,8,0,0,1,11.32-11.32l72,72A8,8,0,0,1,221.66,133.66Z" />
              </svg>
            </a>
          </div>
        </div>
      ))
    }
  </div>
</section>
