---
import { fetchServices } from "../utils/sanityData";

const services = await fetchServices();

const serviceDetails = services.map((service) => ({
  title: service.title,
  shortDescription: service.shortDescription,
  isFeature:service.isFeature,
  image: service.images[0]?.src || "",
  alt: service.images[0]?.alt || "Default alt text",
  slug: service.slug,
}));


const filteredServices = serviceDetails.filter(service => service.isFeature);
---



<section class="py-16 bg-white container mx-auto px-4 space-y-8" id="services">
  <div class="space-y-2 col-span-6">
    <h2 class="text-4xl lg:text-5xl font-bold text-gray-900 lg:mb-0 mb-4">
      Providing Best Services
    </h2>
    <p class="text-gray-600 lg:max-w-lg">
      We are dedicated to providing the best services in the sustainability
      manufacturing industry. Our commitment to excellence is reflected in our
      innovative practices, cutting-edge technology, and a passionate team of
      experts.
    </p>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
    {
      filteredServices.slice(0, 4).map((service) => (
        <div
          class="flex flex-col sm:flex-row gap-4 group"
        >
          <img
            src={service.image}
            alt={service.alt}
            class="h-64 aspect-square rounded-xl object-cover"
          />
          <div class="space-y-4 py-4">
            <h3 class="text-3xl lg:leading-tight font-semibold">
              {service.title}
            </h3>
            <p class="text-gray-600 text-sm">{service.shortDescription}</p>
            <a
              href={`/services/${service.slug}`}
              class="flex items-center justify-center font-medium group space-x-2 w-fit hover:underline [&_svg]:hover:-rotate-45"
            >
              <span>Learn More</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                class="w-4 h-4 invisible group-hover:visible transition-all duration-100"
                fill="currentColor"
                viewBox="0 0 256 256"
              >
                <path d="M221.66,133.66l-72,72a8,8,0,0,1-11.32-11.32L196.69,136H40a8,8,0,0,1,0-16H196.69L138.34,61.66a8,8,0,0,1,11.32-11.32l72,72A8,8,0,0,1,221.66,133.66Z" />
              </svg>
            </a>
          </div>
        </div>
      ))
    }
  </div>

  <a
    class="focus:ring-4 focus:ring-blue-700 focus:outline-none flex items-center justify-center font-medium bg-blue-900 text-white px-6 py-3 rounded-full hover:bg-blue-950 space-x-2 group w-fit m-auto"
    href="/services"
  >
    <span>View More</span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      class="w-4 h-4 group-hover:-rotate-45 transition-all duration-100"
      fill="currentColor"
      viewBox="0 0 256 256"
      ><path
        d="M221.66,133.66l-72,72a8,8,0,0,1-11.32-11.32L196.69,136H40a8,8,0,0,1,0-16H196.69L138.34,61.66a8,8,0,0,1,11.32-11.32l72,72A8,8,0,0,1,221.66,133.66Z"
      ></path></svg
    >
  </a>
</section>
